<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

</head>

<body>
    <h1>Enter your username and password: </h1>
    
    <!-- <form> action="/login/page2" method="POST" target="_self" </form> -->
    <form action="login/page2" method="POST" enctype="text/plain">
        <label for "username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for "password">Password:</label>
        <input type="text" id="password" name="password"><br><br>
        <input type="submit" value="Login"> 
    </form> 

</body>

</html>